@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.register,
.login {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 8px solid black;
}

.register h3,
.login h3 {
    font-size: 20px;
    margin: 12px 0;
    text-decoration: underline;
}

.register form,
.login form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.register form input,
.login form input {
    border: 1px solid black;
    width: fit-content;
    text-align: center;
    margin: 4px 0;
}

.register form label,
.login form label {
    margin-right: 10px;
}

.register form .mr,
.login form .mr {
    margin-right: 40px;
}

.register form button,
.login form button {
    border: 1px solid black;
    width: 100px;
    border-radius: 9px;
    align-self: center;
    margin: 6px 0;
    padding: 4px;
}